{% extends 'base.html' %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block secondtitle %}
{{ title }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
{{ mixin_group }}
{% for item in news %}
  <div class="card 3" style="width: 1300px;">
    {% comment %}
    {{ forloop.counter0 }}
    {% endcomment %}

    {{ forloop.counter }}
    <div class="card-header">
      Категория:<a href="{{ item.category.get_absolute_url }}"> {{ item.category.title }} </a>
    </div>
    <div class="media" style="display:flex">
      <div class="media-pfoto">
        {% if item.photo %}
          <img src="{{ item.photo.url }}" class="mr-3"  width="350" alt="Photo">
        {% else %}
          <h6>Нет фото</h6>
        {% endif %}
      </div>
      <div class="mebia-body" style="margin-left: 40px;">
        <div class="card-body">
          <h5 class="card-title  {% cycle 'text-success' 'text-danger' 'text-primary' %}" style="margin-left: 400px;">{{ item.title }}</h5>
          {% autoescape off %}
            <p class="card-text">{{ item.content|truncatewords:100|linebreaks }}</p>
          {% endautoescape %}
          <a href="{{ item.get_absolute_url }}" class="btn btn-primary" style="margin-left: 400px;">Еще</a>
        </div>
        <div class="card-footer text-body-secondary" >
          <div class="date" style="margin-left: 400px;">
            {{ item.created_at|date:'Y-m-d H:i' }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
